

<section class="welcome-section">
    <h2 class="section_title">welcome to Our Hall</h2>
    <p class="welcome_desk">
        Aurora is one of the most contemporary and technologically advanced banquet halls in Los
        Angeles. We offer specialized, all inclusive amenities and services which set us apart from the competition.
        Whether it's lounging at our custom bridal suite after a photoshoot or our one of a kind speaker system designed
        to project sound only at the dance floor, we have considered every detail and perfected your experience at Aurora.
        We take pride in the versatility and quality of our venue and services. Our management and staff work tirelessly
        to ensure that all events go above and beyond your expectations. Whether it’s a corporate event or your wedding
        day, let’s make it a one of a kind experience
    </p>

</section>

<section class="events_section">
    <h2 class="section_title">Events</h2>
    @*<div class="nn">
            <span class="pt-2 text-secondary" style="margin-left:60rem">PREVIOUS</span>
            <i class="fa fa-long-arrow-left border px-2 pt-1 fs-4 py-2" style="cursor: pointer; margin-left:62rem" aria-hidden="true"></i>
            <i class="fa fa-long-arrow-right border px-2 pt-1 fs-4 py-2" style="cursor: pointer; margin-left:64rem" aria-hidden="true"></i>
            <span class="pt-2 text-secondary" style="margin-left: 70rem">NEXT</span>

        </div>
    *@
    <div class="d-flex justify-content-between container">
        <div class="container glry d-flex align-items-center">
            <img src="~/Content/Event_Hall/images/logo/angle.jpg" width="16" alt="">
            <p class="brdr p-2 mx-2"></p>
            <h1>Explore more</h1>
        </div>
        <div class="nn">
            <p class="pt-2 text-secondary">PREVIOUS</p>
            <i class="fa fa-long-arrow-left border px-2 pt-1 fs-4 py-2" style="cursor: pointer;" aria-hidden="true"></i>
            <i class="fa fa-long-arrow-right border px-2 pt-1 fs-4 py-2" style="cursor: pointer;" aria-hidden="true"></i>
            <p class="pt-2 text-secondary">NEXT</p>
        </div>
    </div>
    <div class="row mt-5 mb-5">

        <div class="card text-white col-lg-4 col-md-6 col-sm-6 border-0 ">
            <div class="overf">
                <div class="cardimg1">
                    <div class="cards_rgba">
                    </div>
                </div>
            </div>
            <div class="events_sectiontext">
                <h3 class="card-title">WEDDINGS</h3>
            </div>
        </div>
        <div class="card text-white col-lg-4 col-md-6 col-sm-6 border-0 ">
            <div class="overf">
                <div class="cardimg2">
                    <div class="cards_rgba">
                    </div>
                </div>
            </div>
            <div class="events_sectiontext">
                <h3 class="card-title">BIRTHDAY</h3>
            </div>
        </div>

        <div class="card text-white col-lg-4 col-md-6 border-0 ">
            <div class="overf">
                <div class="cardimg3">
                    <div class="cards_rgba">
                    </div>
                </div>
            </div>
            <div class="events_sectiontext">
                <h3 class="card-title">EVENTS BY AURORA</h3>
            </div>
        </div>
    </div>

    <a class="button events_btn" href="Event_Hall/events">explore more</a>
</section>

<section class="venue_section">
    <h2 class="section_title">VENUE</h2>
    <div class="container">
        <div class="team-card mt-5 col-lg-12">

            <img src="~/Content/Event_Hall/images/venue_1280.jpg" class="w-100" alt="" style="height:400px" />
            <div class="content p-5 reltv fw-lights" style="box-shadow: 0 0 1px;">
                <p>
                    Our newly renovated venue has all of the bells and whistles to make every event one of a kind and special.
                    With years of industry experience, we have targeted all of the pain points for clients and addressed them
                    with our new technology and setup. Special features including a bridal suite for relaxing after hours of
                    photoshoots and dancing and a speaker system which projects sound directly onto the dancefloor making it
                    easier for guests in the seating area to have conversations. At the end of the day, our venue is best
                    experienced in person and our friendly staff is always happy to show you around.
                </p>

                <a class="button events_btn" href="Event_Hall/events">explore venue</a>

            </div>
        </div>
    </div>
</section>

<section class="menu_section">
    <h2 class="section_title">MENU</h2>
    <div class="container">
        <div class="card mb-3 w-100 border-0 mt-5">
            <div class="row g-0">
                <div class="col-md-5">
                    <img src="~/Content/Event_Hall/images/menu_1280.jpg" class="img-fluid ls-is-cached lazyloaded  rounded-start" alt="..." />
                </div>
                <div class="col-md-7 home_menu_content" style="background-color:#FAF7F2 ;">
                    <div class="card-body">
                        <p class=" card-text">
                            Aurora boasts a diverse menu not found in any other hall. Prior to the acquisition
                            and renovation of the hall, we went around and explored menus from many venues and restaurants. When we
                            finally gathered our list of dishes, we set out on a mission to source the best ingredients and find the
                            master chefs who would be able to prepare them. Our menu ranges from Mediterranean to Asian cuisine, which
                            is always made to order using the freshest ingredient
                        </p>
                        <a class="button events_btn" href="Event_Hall/events">explore venue</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials_section container">
    <h2 class="section_title">TESTIMONIALS</h2>
    <div class="testimonial_cards row mt-5">

        <div class="card col-lg-4 border-0 ">
            <div class="stars">
                <img src="~/Content/Event_Hall/images/Star_Icon.jpg" class="card-img-top material_icons" alt="...">
                <img src="~/Content/Event_Hall/images/Star_Icon.jpg" class="card-img-top material_icons" alt="...">
                <img src="~/Content/Event_Hall/images/Star_Icon.jpg" class="card-img-top material_icons" alt="...">
                <img src="~/Content/Event_Hall/images/Star_Icon.jpg" class="card-img-top material_icons" alt="...">
                <img src="~/Content/Event_Hall/images/Star_Icon.jpg" class="card-img-top material_icons" alt="...">
            </div>
            <div class="card-body">
                <div class="card-text testimonial_cardstext">
                    “From the very start, the level of patience and support from
                    management on down was very rare to find in an ever-growing industry. They showed patience with all my
                    questions and were always available ...
                </div>
                <h6 class="card-subtitle mb-2 text-muted text-center mt-2" Readmore>Read more</h6>
                <hr>
                <div class="author">ALINA K.</div>
            </div>
        </div>
        <div class="card col-lg-4 border-0 ">
            <div class="stars">
                <img src="~/Content/Event_Hall/images/Star_Icon.jpg" class="card-img-top material_icons" alt="...">
                <img src="~/Content/Event_Hall/images/Star_Icon.jpg" class="card-img-top material_icons" alt="...">
                <img src="~/Content/Event_Hall/images/Star_Icon.jpg" class="card-img-top material_icons" alt="...">
                <img src="~/Content/Event_Hall/images/Star_Icon.jpg" class="card-img-top material_icons" alt="...">
                <img src="~/Content/Event_Hall/images/Star_Icon.jpg" class="card-img-top material_icons" alt="...">
            </div>
            <div class="card-body">
                <div class="card-text testimonial_cardstext">
                    “The service by the owner/manager went beyond our expectations,
                    the waiters and waitresses were attentive and made sure everything was as perfect as promised it would be.
                    My guests absolutely loved ho ...
                </div>
                <h6 class="card-subtitle mb-2 text-muted text-center mt-2" Readmore>Read more</h6>
                <hr>
                <div class="author">ANET N.</div>
            </div>
        </div>
        <div class="card col-lg-4 border-0 ">
            <div class="stars">
                <img src="~/Content/Event_Hall/images/Star_Icon.jpg" class="card-img-top material_icons" alt="...">
                <img src="~/Content/Event_Hall/images/Star_Icon.jpg" class="card-img-top material_icons" alt="...">
                <img src="~/Content/Event_Hall/images/Star_Icon.jpg" class="card-img-top material_icons" alt="...">
                <img src="~/Content/Event_Hall/images/Star_Icon.jpg" class="card-img-top material_icons" alt="...">
                <img src="~/Content/Event_Hall/images/Star_Icon.jpg" class="card-img-top material_icons" alt="...">
            </div>
            <div class="card-body">
                <div class="card-text testimonial_cardstext">
                    “Aurora Banquet Hall is amazing. Period! Not only are they
                    organized, detailed, professional.. but they are neat and have the most amazing service! No issue with staff
                    AT ALL & the owner is phenomenal ...div>
                    <h6 class="card-subtitle mb-2 text-muted text-center mt-2" Readmore>Read more</h6>
                    <hr>
                    <div class="author">DELIAH S.</div>
                </div>
            </div>
        </div>
    </div>
    <a class="button events_btn" href="~/Content/Event_Hall/events">Veiw More</a>
</section>

<section class="stepstobookanevent container">
    <h2 class="section_title mt-5">STEPS TO BOOK AN EVENT</h2>
    <div class="stepstobookanevent row">

        <div class="stepstobookanevent_item col-lg-4 col-md-12 col-12">
            <h2 class="StepsToBookAnEvent_header">1</h2>
            <div class="StepsToBookAnEvent-show">
                <div class="StepsToBookAnEvent_description">schedule an appointment for a tour</div>
                <div class="StepsToBookAnEvent_content">
                    Take a tour and receive an introduction to packages and menu options
                    with assigned manager.
                </div>
            </div>
        </div>
        <div class="stepstobookanevent_item col-lg-4 col-md-12 col-12">
            <h2 class="StepsToBookAnEvent_header">2</h2>
            <div class="StepsToBookAnEvent-show">
                <div class="StepsToBookAnEvent_description">contract signing</div>
                <div class="StepsToBookAnEvent_content">
                    Meet our production managers to go over the entertainment packages and
                    lighting options. Reserve date with 25%
                </div>
            </div>
        </div>
        <div class="stepstobookanevent_item col-lg-4 col-md-12 col-12">
            <h2 class="StepsToBookAnEvent_header">3</h2>
            <div class="StepsToBookAnEvent-show">
                <div class="StepsToBookAnEvent_description">
                    discuss finishing touches
                </div>
                <div class="StepsToBookAnEvent_content">
                    Finalize the menu one month before the event and confirm the final
                    count of the guests and floor plan two weeks before the event.
                </div>
            </div>
        </div>

    </div>
</section>

<section class="highlights_section container mt-5 mb-5">
    <div class="highlight_picture">
        @*<img src="~/Content/Event_Hall/images/Highlights_1280.webp" alt="">*@
        <img src="~/Content/Event_Hall/images/highlights_1280.jpg" />
    </div>
    <div class="highlights_section_wrapper">
        <h2 class="section_title">highlights</h2>
        <div class="text_appear down show">
            <p class="highlights_description">
                With state of the art technologies and first class service, Aurora was
                designed from the ground up to make your event the most memorable. We have spent countless hours thinking
                about all the details and enhancing this beautiful venue with features so you can concentrate on what is more
                important: having an amazing time with your guests. Some of Aurora’s most popular highlights include the
                following
            </p>
        </div>
    </div>
    <div class="hightlights_lists mt-5 row">
        <div class="highlightl1 container row col-lg-6 col-sm-12">
            <div class="card mb-5 border-0">
                <div class="row g-0">
                    <div class="col-md-3 hl_img">
                        <img src="~/Content/Event_Hall/images/Highlights_Standard_LaserLightShow.jpg" class="img-fluid rounded-start" alt="..." style="height:70px; width:100px">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title hl_title">LASER LIGHT SHOW</div>
                            <p class="card-text hl_description">
                                Grand Venue by day. Club at night. Create amazing atmospheres and
                                visuals for your event.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-5 border-0">
                <div class="row g-0">
                    <div class="col-md-3 hl_img">
                        <img src="~/Content/Event_Hall/images/Highlights_Standard_CurvedLEDStageScreen.jpg" class="img-fluid rounded-start" alt="..." style="height:70px; width:100px">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title hl_title">curved led stage screen</div>
                            <p class="card-text hl_description">Display anything you'd like across our giant curved LED screen.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-5 border-0">
                <div class="row g-0">
                    <div class="col-md-3 hl_img">
                        <img src="~/Content/Event_Hall/images/Highlights_Standard_FogMachine.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title hl_title">fog machine</div>
                            <p class="card-text hl_description">Walk on clouds with our massive fog machine.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" mb-5 border-0">
                <div class="row g-0">
                    <div class="col-md-3 hl_img">
                        <img src="~/Content/Event_Hall/images/Highlights_Standard_InteractiveProjector.jpg" class="img-fluid rounded-start" alt="..." style="height:70px; width:100px">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title hl_title">interactive projector</div>
                            <p class="card-text hl_description">
                                Enhance your experience with custom graphics and animations to
                                project all across the dance floor.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" mb-5 border-0">
                <div class="row g-0">
                    <div class="col-md-3 hl_img">
                        <img src="~/Content/Event_Hall/images/Highlights_Standard_Streaming.jpg" class="img-fluid rounded-start" alt="..." style="height:70px; width:100px">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title hl_title">streaming</div>
                            <p class="card-text hl_description">
                                Who said guests are only those in the hall? Stream your event live
                                and have your guests tune in on Facebook, YouTube, and Skype.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="highlightsl2 container row col-lg-6 col-sm-12">
            <div class=" mb-5 border-0">
                <div class="row g-0">
                    <div class="col-md-3 hl_img">
                        <img src="~/Content/Event_Hall/images/Highlights_Standard_LiveCam.jpg" class="img-fluid rounded-start" alt="..." style="height:70px; width:100px">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title hl_title">
                                live cam
                            </div>
                            <p class="card-text hl_description">Never miss another moment.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" mb-5 border-0">
                <div class="row g-0">
                    <div class="col-md-3 hl_img">
                        <img src="~/Content/Event_Hall/images/Highlights_Standard_TailoredAudioSystem.jpg" class="img-fluid rounded-start" alt="... " style="height:70px; width:100px">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title hl_title">
                                tailored audio system
                            </div>
                            <p class="card-text hl_description">
                                Our sound system is specially designed to project music only where
                                you want it to go.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-5 border-0">
                <div class="row g-0">
                    <div class="col-md-3 hl_img">

                        <img src="~/Content/Event_Hall/images/Highlights_Standard_ThemeSpecificLighting .jpg" class="img-fluid rounded-start" alt="..." style="height:70px; width:100px" />
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title hl_title">
                                theme specific lighting
                            </div>
                            <p class="card-text hl_description">
                                We provide custom lighting schemes to compliment your event theme.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-5 border-0">
                <div class="row g-0">
                    <div class="col-md-3 hl_img">
                        <img src="~/Content/Event_Hall/images/Highlights_Standard_HazeMachine.jpg" class="img-fluid rounded-start" alt="..." style="height:70px; width:100px">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title hl_title">
                                haze machine
                            </div>
                            <p class="card-text hl_description">Create artificial clouds and atmospheric effects with our hazer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="outline-content subs_news__section container" style="position: relative; top: 150px;">
    <div class="subs_news__content container mt-5">
        <h4 class="subs_news__title">subscribe to our newsletter</h4>
        <div class="text_appear down show">
            <p class="subs_news__text">
                Stay up to date on our latest event and new additions to Aurora. We promise not to
                spam you with emails, but provide valuable information to you and fill you in on any updates we may have for
                our current and future clients. Sign up for our newsletter below!
            </p>
        </div>
        <form class="subs_news__form">
            <div class="MuiFormControl-root MuiTextField-root subs_news__input">
                <label class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated Mui-required Mui-required"
                       data-shrink="false">
                    Enter your email<span aria-hidden="true"
                                          class="MuiFormLabel-asterisk MuiInputLabel-asterisk">
                        *
                    </span>
                </label>
                <div class="MuiInputBase-root MuiInput-root MuiInput-underline MuiInputBase-formControl MuiInput-formControl">
                    <input type="email" aria-invalid="false" required="" value="" class="MuiInputBase-input MuiInput-input">
                </div>
            </div>
            <button type="submit" class="button subs_news__btn">subscribe</button>
        </form>
        <div class="subs_news__form mt-3 d-block"></div>
    </div>
</div>
